/* style.css (CSS3) */

body {
  width: 90%;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  color: black;
  margin-left: 5%;
  /* border: 1px solid black; */
}

/* liens */

a {
  text-decoration: none;
  font-style: italic;
  color: black;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: darkgray;
} 

/* conteneurs */

header {
  text-align: center;
}

footer {
  font-size: 10px;
  text-align: center;
}

p {
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
}

/* #origine hr {
  border-width: 2px;
  border-color: green
} */


/* images */

img.JH {
  width: auto;
  height: 200px;
  margin: 5px;
}

section#galerie>img	{
  width: auto;
  height: 400px;
}

/* tableau */

#tblParoles {
  width: 100%;
  font-size: 12px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
#tblParoles th,td {
  border: 1px solid black;
  height: 30px;
  width: 10%;
}

